<div class="container">
	<h3 class="pull-left">
		Litigations
	</h3>
	<div class="pull-right">
		<button class="btn btn-primary add-button" id="add_compliance">Add Litigation</button>
	</div>
	<hr class="clearfix"/>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">	       
	          2016
	      </h4>
	    </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">	       
	          2015
	      </h4>
	    </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">	       
	          2014
	      </h4>
	    </div>
    </a>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
	<form class="hidden" id="add_compliance_form">
		<div class="col-sm-5">
			<div class="">
				<div class="form-group">
					<label for="login_userid">Litigation Date</label>
					<input type="date" required class="form-control" max="<%=new Date().toJSON().split('T')[0]%>" id="login_userid" placeholder="User Id">
				</div>
			</div>
			<div class="">
				<div class="form-group">
					<label for="login_userid">Type</label>
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Dropdown
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="#">Action</a></li>
					    <li><a href="#">Another action</a></li>
					    <li><a href="#">Something else here</a></li>
					    <li role="separator" class="divider"></li>
					    <li><a href="#">Separated link</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="">
				<div class="form-group">
					<label for="login_userid">Number</label>
					<input type="text" style="text-transform:uppercase" required class="form-control" id="login_userid" placeholder="TAX NUMBER">
				</div>
			</div>
			<div class="">
				<div class="form-group">
					<label for="login_userid">Upload Documents</label>
				    <input type="file" required id="login_userid">
				</div>
			</div>
		</div>
		<div class="hidden-xs col-xs-offset-2 col-xs-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Help
				</div>
				<div class="panel-body">
					<ul>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<div class="col-xs-3 col-sm-1">
				<button class="btn btn-primary add-button">Submit</button>
			</div>
			<div class="col-xs-3 col-sm-1">
				<button class="btn btn-default add-button" id="add_compliance_cancel">Cancel</button>
			</div>
		</div>
	</form>	
</div>