.reset-list {
	list-style: none;
	margin:0;
	padding:0;
}

.reset-list	>li {
	margin-bottom: 15px;
}

.width-100 {
	width:100px;
}
.pointer {
	cursor:pointer;
}
.load-bar {
	position: fixed;
	margin-top: -21px;
	width: 100%;
	height: 5px;
	background-color: #455A64;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #fff;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #455A64;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fff;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
