<div ng-controller="HeaderCtrl">
   <div ng-include src="template.url" showSpinner=showSpinner></div>
</div>
<div>
   <div class="container main-container">
      <div class="col-sm-offset-2 col-xs-12 col-sm-3">
         <div class="panel panel-default">
            <div class="panel-heading col-xs-12">
               <span class="pull-left">Pending Compliance</span>
               <i class="fa fa-chevron-circle-right pull-right dashboard-gonext-icon" aria-hidden="true"></i>
            </div>
            <div class="panel-body text-center fa-2x">
               {{model.compliance.pending}}
            </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-3">
         <div class="panel panel-info">
            <div class="panel-heading col-xs-12"><span class="pull-left">Pending Litigations</span>
               <i class="fa fa-chevron-circle-right pull-right dashboard-gonext-icon" aria-hidden="true"></i></div>
            <div class="panel-body text-center fa-2x">
               {{model.litigations.pending}}
            </div>
         </div>
      </div>
      <div class="col-xs-12 col-sm-3">
         <div class="panel panel-primary">
            <div class="panel-heading col-xs-12"><span class="pull-left">Pending Notices</span>
               <i class="fa fa-chevron-circle-right pull-right dashboard-gonext-icon" aria-hidden="true"></i></div>
            <div class="panel-body text-center fa-2x">
               {{model.notices.pending}}
            </div>
         </div>
      </div>
      <div class="col-xs-4">
         <br/><br/>
         <div id="chartContainer" style="height: 200px; width: 100%;"></div>
      </div>
      <div class="col-xs-6">
         <canvas id="myChart2"></canvas>
      </div>
   </div>
</div>
