<div ng-controller="HeaderBLCtrl">
	<div ng-include src="template.url" showSpinner=showSpinner></div>
</div>
<form name="userForm" ng-submit="submitForm()" novalidate autocomplete="off">
	<div class="hidden-xs login-margin"></div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-1">
		<div class="">
			<h4>{{appStrings.login.loginHeader}}</h4>
		</div>
		<!-- USERNAME -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
			<input type="text" name="username" class="form-control" ng-model="user.name" required placeholder="{{appStrings.login.userIdDisplay}}"  ng-minlength="4">
			<p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">{{appStrings.login.userNameRequired}}</p>
			<p ng-show="userForm.username.$error.minlength" class="help-block">{{appStrings.login.userNameLengthError}}</p>
		</div>

		<!-- PASSWORD -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
			<input type="text" name="password" class="form-control" ng-model="user.password" ng-minlength="4" placeholder="{{appStrings.login.passwordDisplay}}" required>
			<p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">{{appStrings.login.passwordRequried}}</p>
			<p ng-show="userForm.password.$error.minlength" class="help-block">{{appStrings.login.passwordLengthError}}</p>
		</div>

		<button type="submit" class="btn btn-primary width-100" ng-disabled="userForm.$invalid">{{appStrings.login.loginBtn}}</button>

		<div>
			<div class="login-help">
				<div>
					{{appStrings.login.forgotText}} <a>{{appStrings.login.userIdDisplay}}?</a> or <a>{{appStrings.login.passwordDisplay}}?</a> 
				</div>
				<div class="">
					<a data-toggle="modal" data-target="#myModal">{{appStrings.login.enroll}}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 visible-xs login-margin"></div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-help"></i>{{appStrings.help.support247}}
			</div>
			<div class="panel-body">
				<mySnippet></mySnippet>
			</div>
		</div>
	</div>
</form>
<!-- enroll in tp -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Want to enroll in <a>Tax Partner</a> application</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary text-captalize">Enroll</button>
      </div>
    </div>
  </div>
</div>