<div ng-controller="HeaderCtrl">
   <div ng-include src="template.url" showSpinner=showSpinner></div>
</div>
<div class="container main-container">
   <ul class="nav nav-pills nav-stacked col-xs-2">
      <li role="presentation" class="active"><a href="#">Complaince</a></li>
      <li role="presentation"><a href="#">Notices</a></li>
      <li role="presentation"><a href="#">Litigation</a></li>
      <li role="presentation"><a href="#">Numbers</a></li>
      <li role="presentation"><a href="#">Contacts</a></li>
   </ul>
   <div class="col-xs-2">

   </div>
</div>
